@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
}

.logo {
  position: absolute;
  transition: transform 2s ease;
}

/* section hero form_return */
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px); /* Adjust as needed */
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px); /* Adjust as needed */
  }
}
.polaroid {
  background: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  display: inline-block;
  position: relative;
  transform: rotate(-5deg);
}

.polaroid:nth-child(even) {
  transform: rotate(5deg);
}

.polaroid .relative {
  overflow: hidden;
  background-color: white; /* Ensure the background is white */
}

.polaroid.small {
  width: 170px;
  height: 210px;
}

.polaroid.large {
  width: 200px;
  height: 250px;
}

@media (max-width: 768px) {
  .timeline-box p {
    display: none;
  }

  .timeline-box p:last-child {
    display: block;
  }
}

/* cardProfile */
@keyframes neon-border {
  0% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
  50% {
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #ff00de, 0 0 17px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 37px #ff00de;
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

.animate-neon-border {
  animation: neon-border 1.5s ease-in-out infinite;
}

