@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
}

.logo {
  position: absolute;
  transition: transform 2s ease;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px); /* Adjust as needed */
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px); /* Adjust as needed */
  }
}

